<header>
    <h1>Logo</h1>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/candidatos">Candidatos</a></li>
            <li><a href="/inscrever-se">inscrever-se</a></li>
        </ul>
    </nav>
</header>