<header>
    <div class="logo">
        <img src="/img/logo.png" alt="">
    </div>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/candidatos">Candidatos</a></li>
            <li><a href="/inscrever-se">inscrever-se</a></li>
        </ul>
    </nav>
</header>