<header class="header-page">
    <h1>Logo</h1>
    <div class="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/sobre">Sobre nós</a></li>
            <li><a href="cursos">Cursos</a></li>
            <li><a href="/cadastro">Cadastra-se</a></li>
        </ul>
    </div>
</header>