<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="SABINO SACATATU LUCAMBA CAPINGANA">
    <meta name="description" content="Sistema de seleção de candidatos">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%=titulo %></title>
</head>
<body>
    <h1>Welcome to home page...</h1>
    <p>
        <% dados.forEach(element => { %>
            <p>gggg</p>
       <% });  %>
    </p>
</body>
</html>