<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sabino Sacatatu Lucamba Capingana">
    <meta name="description" content="Sistema de seleção de candidatos">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{titulo}}</title>
</head>
<body>
    {{>header}}
    <main class="container">
        {{{body}}}
    </main>
    {{>footer}}
</body>
</html>